snippet smod
	#' @export
	ui_${1} <- function(id='${1}') {
		box::use(shiny=shiny[tags])
		ns <- shiny\$NS(id)
		shiny\$uiOutput(ns('ui'))
	}

	#' @export
	server_${1} <- function(id='${1}') {
		box::use(shiny=shiny[tags])
		shiny\$moduleServer(
			id,
			function(input, output, session) {
			ns <- session\$ns
			output\$ui <- shiny\$renderUI({
					shiny\$div('${1}')
				})
			})
	}
